Q1. In order to predict house price based on several characteristics, such as location, square footage,
number of bedrooms, etc., you are developing an SVM regression model. Which regression metric in this
situation would be the best to employ?
Dataset link: https://drive.google.com/file/d/1Z9oLpmt6IDRNw7IeNcHYTGeJRYypRSC0/view
    
Q2. You have built an SVM regression model and are trying to decide between using MSE or R-squared as
your evaluation metric. Which metric would be more appropriate if your goal is to predict the actual price
of a house as accurately as possible?

Q3. You have a dataset with a significant number of outliers and are trying to select an appropriate
regression metric to use with your SVM model. Which metric would be the most appropriate in this
scenario?

Q4. You have built an SVM regression model using a polynomial kernel and are trying to select the best
metric to evaluate its performance. You have calculated both MSE and RMSE and found that both values
are very close. Which metric should you choose to use in this case?

Q5. You are comparing the performance of different SVM regression models using different kernels (linear,
polynomial, and RBF) and are trying to select the best evaluation metric. Which metric would be most
appropriate if your goal is to measure how well the model explains the variance in the target variable?

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Load the dataset
data = pd.read_csv('house_dataset.csv')  # Adjust the filename as per your dataset
data.sample(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
213,Super built-up Area,Ready To Move,Electronics City Phase 1,3 BHK,SNdri N,1475,3.0,2.0,78.29
330,Built-up Area,Ready To Move,Basavanna Nagar,3 BHK,Itala A,1645,3.0,2.0,95.00
351,Super built-up Area,Ready To Move,Harlur,2 BHK,SrEndPo,1508,2.0,1.0,77.00
420,Plot Area,Ready To Move,TC Palaya,2 Bedroom,NaN,1200,2.0,0.0,60.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     767 non-null    object
 1   availability  767 non-null    object
 2   location      766 non-null    object
 3   size          766 non-null    object
 4   society       470 non-null    object
 5   total_sqft    767 non-null    object
 6   bath          760 non-null    float64
 7   balcony       731 non-null    float64
 8   price         767 non-null    float64
dtypes: float64(3), object(6)
memory usage: 54.1+ KB

In [11]:
data.describe()

             bath     balcony        price
count  760.000000  731.000000   767.000000
mean     2.672368    1.569083   110.876584
std      1.234879    0.816995   149.690031
min      1.000000    0.000000    11.000000
25%      2.000000    1.000000    48.860000
50%      2.000000    2.000000    70.000000
75%      3.000000    2.000000   120.000000
max      9.000000    3.000000  2200.000000

In [ ]:
data = pd.DataFrame(data['bath'],data['balcony'],data['price'])

from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# Handle missing values
imputer = SimpleImputer(strategy='mean')
data_imputed = imputer.fit_transform(data)


# Separate features (X) and target (y)
X = pd.DataFrame(data['bath'],data['balcony'])
y = data['price']

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create and train the SVM regression model
svm_model = SVR(kernel='linear')  # You can explore different kernels
svm_model.fit(X_train_scaled, y_train)